<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABjY07f6p_Vn3YpF9eaXbxRvLMPgsLHgA</string>
	<key>GCM_SENDER_ID</key>
	<string>976746971009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vdg.prosperapps</string>
	<key>PROJECT_ID</key>
	<string>vozes-b7df3</string>
	<key>STORAGE_BUCKET</key>
	<string>vozes-b7df3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976746971009:ios:1eb2cb20844e2994e47280</string>
</dict>
</plist>